[Unit]
Description=yarn_install
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=idle
RemainAfterExit=no
Restart=on-failure
KillMode=process
WorkingDirectory=/var/www/ui-frontend
ExecStart=yarn install

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yarn_install

[Install]
WantedBy=multi-user.target