[Unit]
Description=yarn service
#Wants=network-online.target
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=forking
RemainAfterExit=no
Restart=always
RestartSec=10
KillMode=process

WorkingDirectory=/var/www/ui-frontend
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yarn
TimeoutStartSec=20min
ExecStart=/usr/bin/yarn.sh start
ExecStop=/usr/bin/yarn.sh stop

[Install]
WantedBy=multi-user.target