[Unit]
Description=lumitvpn
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
RemainAfterExit=no
ExecStart=/sbin/lumitvpn.sh start
ExecStop=/sbin/lumitvpn.sh stop
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
