[Unit]
Description=pip_install
#After=network-online.target
#Wants=network-online.target
After=nfs-client.target
Wants=systemd-networkd-wait-online.service

[Service]
Type=idle
RemainAfterExit=no
Restart=always
RestartSec=30
KillMode=process
ExecStart=pip install -r /var/www/api/api/pip.requirements

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pip_install

[Install]
WantedBy=multi-user.target