[Unit]
Description=pip_install
#After=network-online.target
#Wants=network-online.target
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=idle
RemainAfterExit=no
Restart=always
RestartSec=10
KillMode=process
ExecStart=pip install --break-system-packages -r /var/www/ui-backend/backend/pip.requirements

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pip_install

[Install]
WantedBy=multi-user.target
